html {
    height: 100%;
    font-family: 'Josefin Sans', sans-serif;
}

body {
  color: #324243;
  text-align: center;
  background: #BDBBBE;
  align-self: center;
}
footer {
    margin: 50px 0;
}

.navbar-inverse .navbar-collapse {
  padding-top: 4%;
}

h2 {
  font-family: 'Ubuntu Condensed', sans-serif;
  color: black;
}

.hero{
  background-color: #E2DEDF;
  padding-top: 4%;
  padding-bottom: 4%;

}

.potato {
  max-width: 100%;
  height: 432px;
}


.item {
  object-fit: cover;
}

.carousel-control.left, .carousel-control.right {
  filter: progid: none;
  filter: none;
  background-image:none;
  outline: 0;
  opacity: 1;
 }


#cat {
    width: 100%;
}​




/*#lightBoxBig {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  display: none;
}

#lightBox {
  position: absolute;
  top: 25%;
  left: 40%;
  opacity: 0.5;
  display: none;
}*/

/*font-family: 'Josefin Sans', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;*/
